POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=postgres_db
POSTGRES_PORT=5432
POSTGRES_CONTAINER_NAME=dataeng-postgres
DATAENG_POSTGRES_URI=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_CONTAINER_NAME}:${POSTGRES_PORT}/${POSTGRES_DB}
DATAENG_JDBC_POSTGRES_URI=jdbc:postgresql://${POSTGRES_CONTAINER_NAME}:${POSTGRES_PORT}/${POSTGRES_DB}

POSTGRES_ANALYSIS_USER=user
POSTGRES_ANALYSIS_PASSWORD=password
POSTGRES_ANALYSIS_DB=postgres_db
POSTGRES_ANALYSIS_PORT=5433
POSTGRES_ANALYSIS_CONTAINER_NAME=dataeng-postgres-analysis
ANALYSIS_POSTGRES_URI=postgresql://${POSTGRES_ANALYSIS_USER}:${POSTGRES_ANALYSIS_PASSWORD}@${POSTGRES_ANALYSIS_CONTAINER_NAME}:${POSTGRES_ANALYSIS_PORT}/${POSTGRES_ANALYSIS_DB}
ANALYSIS_JDBC_POSTGRES_URI=jdbc:postgresql://${POSTGRES_ANALYSIS_CONTAINER_NAME}:5432/${POSTGRES_ANALYSIS_DB}

POSTGRES_REPLICA_USER=user
POSTGRES_REPLICA_PASSWORD=password
POSTGRES_REPLICA_DB=postgres_db
POSTGRES_REPLICA_PORT=5434
POSTGRES_REPLICA_CONTAINER_NAME=dataeng-postgres-replica
REPLICA_POSTGRES_URI=postgresql://${POSTGRES_REPLICA_USER}:${POSTGRES_REPLICA_PASSWORD}@${POSTGRES_REPLICA_CONTAINER_NAME}:${POSTGRES_REPLICA_PORT}/${POSTGRES_REPLICA_DB}
REPLICA_JDBC_POSTGRES_URI=jdbc:postgresql://${POSTGRES_REPLICA_CONTAINER_NAME}:5432/${POSTGRES_REPLICA_DB}

POSTGRES_AIRFLOW_USER=user
POSTGRES_AIRFLOW_PASSWORD=password
POSTGRES_AIRFLOW_DB=postgres_db
POSTGRES_AIRFLOW_PORT=5435
POSTGRES_AIRFLOW_CONTAINER_NAME=dataeng-postgres-airflow
AIRFLOW_POSTGRES_URI=postgresql://${POSTGRES_AIRFLOW_USER}:${POSTGRES_AIRFLOW_PASSWORD}@${POSTGRES_AIRFLOW_CONTAINER_NAME}:${POSTGRES_AIRFLOW_PORT}/${POSTGRES_AIRFLOW_DB}
AIRFLOW_JDBC_POSTGRES_URI=jdbc:postgresql://${POSTGRES_AIRFLOW_CONTAINER_NAME}:5432/${POSTGRES_AIRFLOW_DB}

POSTGRES_SOURCE_USER=YOUR POSGRES USER
POSTGRES_SOURCE_PASSWORD=YOUR POSGRES PASSWORD
POSTGRES_SOURCE_DB=YOUR POSGRES DB
POSTGRES_PORT_SOURCE=YOUR POSGRES PORT
POSTGRES_HOST_SOURCE=YOUR POSGRES HOST
POSTGRES_URL_SOURCE=postgresql://${POSTGRES_SOURCE_USER}:${POSTGRES_SOURCE_PASSWORD}@${POSTGRES_HOST_SOURCE}:${POSTGRES_PORT_SOURCE}/${POSTGRES_SOURCE_DB}

POSTGRES_VERSION=latest

AIRFLOW_SCHEDULER_CONTAINER_NAME=dataeng-airflow-scheduler
AIRFLOW_WEBSERVER_CONTAINER_NAME=dataeng-airflow-webserver
AIRFLOW_WEBSERVER_PORT=8081

EMAIL_SENDER="YOUR EMAIL SENDER"
EMAIL_PASSWORD="YOUR EMAIL APP PASSWORD"
EMAIL_RECIPIENT="YOUR EMAIL RECIPIENT"

SPARK_MASTER_CONTAINER_NAME=dataeng-spark-master
SPARK_MASTER_HOST_NAME=dataeng-spark-master
SPARK_MASTER_PORT=7077
SPARK_MASTER_UI=8100
SPARK_WORKER_CONTAINER_NAME=dataeng-spark-worker
SPARK_DRIVER=org.postgresql.Driver
SPARK_STRINGTYPE=unspecified

KAFKA_CONTAINER_NAME=dataeng-kafka
KAFKA_HOST=dataeng-kafka
KAFKA_PORT=9092
KAFKA_TOPIC_NAME=test-topic
KAFKA_REPLICATION=1

DEBEZIUM_VERSION=2.4

FLASK_CONTAINER_NAME=dataeng-flask
FLASK_PORT=8000

DASHBOARD_CONTAINER_NAME=dataeng-dashboard

SPOTIFY_CLIENT_ID=YOUR SPOTIFY CLIENT ID
SPOTIFY_CLIENT_SECRET=YOUR SPOTIFY CLIENT SECRET

KSQL_CONTAINER_NAME=dataeng-ksql
KSQL_HOST=dataeng-ksql

JUPYTER_CONTAINER_NAME=dataeng-jupyter
JUPYTER_PORT=8888

EMAIL_RECEIVER=YOUR EMAIL RECIPIENT
EMAIL_SENDER=YOUR EMAIL SENDER
EMAIL_PASSWORD=YOUR EMAIL APP PASSWORD

GENAI_API_KEY=YOUR GENAI API KEY